body {
    background-color: cornflowerblue;
    margin: 0;
}

.p1 {
    width: 200px;
    height: 150px;
    border: 1px solid;
    margin: 0;
    padding: 12px;
}

.container {
    display: flex;
    background-color: rgb(0, 255, 179);
    border: 1px solid;
    justify-content: space-around;
}

.item {
    background-color: aqua;
    margin: 12px;
    padding: 12px;
} 

.container-1 {
    display: flex;
    flex-flow: column;
}

.box {
    width: 50px;
    height: 50px;
    background-color: chocolate;
    margin: 8px;
}

.box-right {
    display: flex;
    flex-flow: row;
}

.box-header {
    display: flex;
    flex-flow: wrap;
}

.box-l {
    display: flex;
}
.box-ls {
    display: flex;
    visibility: hidden;
}